[run]
branch = TRUE
omit =
  */autodiff/nodes/node.py
  */rautodiff/rnodes/rnode.py
  */docs/*
  */tests/*

[report]
omit =
    */autodiff/nodes/node.py
    */rautodiff/rnodes/rnode.py
    */docs/*
    */tests/*
